<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ChemistryDbPath" value="./src/Data/Database/chem.db" />
		<add key="EnglishDbPath" value="./src/Data/Database/dictionary.db" />
		
		<add key="FlashcardJsonPath" value="./src/Data/Database/flashcards.json"/>
		
		<add key="GeminiApiKey" value="j9vs7GCI2Dr1aDrHhr3yFZEwVhZ+1TbabwjFC2skbNBrQhbptN77Of9gJ8WBANsG"/>
		<add key="JwtSecret" value="H2rjpsIaLQieYqOMImriQg=="/>
	</appSettings>
	
	<connectionStrings>
		<add name="MongoDB"
			 connectionString="T0816ZLYVAH6iJfUKqUPUyH02zzacYJHnzcj2Hdjc/5lQjaOGjZyolUE3JPZhNT/D9QnfX3zRpOYoGd6S6IBscdZTwbRwYi7vaiSpNjud18="/>
	</connectionStrings>
</configuration>