<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ChemistryDbPath" value="./Database/chem.db" />
		<add key="EnglishDbPath" value="./Database/dictionary.db" />
		<add key="FlashcardJsonPath" value="./Database/flashcards.json"/>
		<add key="GeminiApiKey" value="j9vs7GCI2Dr1aDrHhr3yFZEwVhZ+1TbabwjFC2skbNBrQhbptN77Of9gJ8WBANsG"/>
	</appSettings>
</configuration>