<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/style.css" />
</head>

<body>
    <div id="webcrumbs">
        <div class="relative bg-gray-50 font-sans rounded-xl overflow-hidden shadow-lg">
            <div class="flex h-[calc(100vh-48px)] overflow-hidden">
                <div class="w-64 bg-white border-r p-6 overflow-y-auto h-full">
                    <h2 class="text-primary-600 text-center font-semibold mb-4 text-lg">Mục lục</h2>
                    <ul class="space-y-2">
                        <li>
                            <ul class="mt-1 space-y-1">
                                <li>
                                    <a href="#header"
                                       class="text-xs text-gray-700 hover:text-primary-600 hover:underline transition-colors flex items-center py-1">
                                       Đại từ
                                    </a>
                                </li>

                                <ul class="pl-7 mt-1 space-y-2">
                                    <li>
                                        <a href="#section-1"
                                           class="text-xs text-gray-700 hover:text-primary-600 hover:underline transition-colors flex items-center py-1">
                                            Đại từ là gì?
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#section-2"
                                           class="text-xs text-gray-700 hover:text-primary-600 hover:underline transition-colors flex items-center py-1">
                                           Cách dùng đại từ
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#section-3"
                                           class="text-xs text-gray-700 hover:text-primary-600 hover:underline transition-colors flex items-center py-1">
                                           Phân loại đại từ
                                        </a>
                                    </li>
                                    <ol class="text-xs text-gray-700 pl-7 mt-1 space-y-1" style="list-style-type: decimal">
                                        <li>
                                            <a href="#section-3.1"
                                               class="text-xs text-gray-700 hover:text-primary-600 hover:underline transition-colors flex items-center py-1">
                                               Đại từ nhân xưng
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#section-3.2"
                                               class="text-xs text-gray-700 hover:text-primary-600 hover:underline transition-colors flex items-center py-1">
                                               Đại từ bất định
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#section-3.3"
                                               class="text-xs text-gray-700 hover:text-primary-600 hover:underline transition-colors flex items-center py-1">
                                               Đại từ sở hữu
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#section-3.4"
                                               class="text-xs text-gray-700 hover:text-primary-600 hover:underline transition-colors flex items-center py-1">
                                               Đại từ phản thân
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#section-3.5"
                                               class="text-xs text-gray-700 hover:text-primary-600 hover:underline transition-colors flex items-center py-1">
                                               Đại từ quan hệ
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#section-3.6"
                                               class="text-xs text-gray-700 hover:text-primary-600 hover:underline transition-colors flex items-center py-1">
                                               Đại từ chỉ định
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#section-3.7"
                                               class="text-xs text-gray-700 hover:text-primary-600 hover:underline transition-colors flex items-center py-1">
                                               Đại từ nghi vấn
                                            </a>
                                        </li>
                                    </ol>
                                </ul>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="flex-1 overflow-y-auto bg-white h-full">
                    <div id="header" class="max-w-3xl mx-auto bg-white p-6">
                        <h1 class="text-xl text-center font-bold mb-4">Đại từ (Pronouns)</h1>

                        <div id="section-1" class="space-y-6 mb-6">
                            <h2 class="text-xl text-indigo-600 font-bold flex items-center gap-1">
                                <span class="text-indigo-700">I.</span> Đại từ là gì?
                            </h2>
                            <div class="space-y-2 ml-4">
                                <p class="text-sm text-gray-600 pl-5">Trong tiếng Anh, đại từ là từ được sử dụng để xưng hô và thay thế danh từ, động từ hoặc tính từ trong một câu. Mục đích của việc sử dụng đại từ là ngăn chặn các lỗi từ lặp đi lặp lại trong câu, hoặc để tránh tình trạng một từ được nhắc lại quá nhiều lần.</p>
                                <p class="text-sm text-gray-600 pl-5">Các đại từ phổ biến như he, we, she.</p>
                                <p class="text-sm text-gray-600 pl-5"><strong>Ví dụ:</strong> <span class="italic">Susan and Susan's dog went for a walk. → Susan and her dog went for a walk. (Susan đã đi dạo cùng chú chó của cô ấy.)</span></p>
                                <p class="text-sm pl-5"><strong>Xem thêm:</strong><a class="italic text-primary-600 underline" href="./topic_1.html">Tổng hợp danh sách các từ loại trong tiếng Anh</a></p>
                            </div>
                        </div>

                        <div id="section-2" class="space-y-6 mb-6">
                            <h2 class="text-xl text-indigo-600 font-bold flex items-center gap-1">
                                <span class="text-indigo-700">II.</span> Cách dùng đại từ
                            </h2>
                            <ul class="list-disc pl-10 text-sm text-gray-600 space-y-1.5">
                                <li>Thay thế cho danh từ đã được đề cập trước:</li>
                                <ul class="pl-10 text-sm text-gray-600 space-y-1.5" style="list-style-type: circle">
                                    <li><strong>Ví dụ:</strong> <span class="italic">John is my friend. He is very kind. (John là bạn của tôi. Anh ấy rất tử tế.)</span></li>
                                    <li><strong>Giải thích:</strong> <span class="italic">Trong câu này, "he" thay thế cho "John".</span></li>
                                </ul>
                                <li>Thay thế cho danh từ trong cùng một câu:</li>
                                <ul class="pl-10 text-sm text-gray-600 space-y-1.5" style="list-style-type: circle">
                                    <li><strong>Ví dụ:</strong> <span class="italic">My sister loves chocolate. She eats it every day. (Em gái tôi thích socola. Cô ấy ăn nó mỗi ngày.) </span></li>
                                    <li><strong>Giải thích:</strong> <span class="italic">Trong câu này, "she" thay thế cho "my sister", và "it" thay thế cho "chocolate".</span></li>
                                </ul>
                            </ul>
                        </div>

                        <div id="section-3" class="space-y-6 mb-6">
                            <h2 class="text-xl text-indigo-600 font-bold flex items-center gap-1">
                                <span class="text-indigo-700">III.</span> Phân loại đại từ
                            </h2>
                            <p class="text-sm text-gray-600 pl-5">Đại từ trong tiếng Anh có 7 loại phổ biến. Mỗi dạng đại từ có chức năng riêng và có thể được sử dụng để thay thế một từ loại cụ thể.</p>
                            <div id="section-3.1" class="space-y-2 ml-4">
                                <h3 class="text-primary-600 font-semibold flex items-center gap-1">
                                    <span class="text-primary-700">1.</span> Đại từ nhân xưng (Personal pronouns)
                                </h3>
                                <div id="section-3.1.1" class="space-y-2 ml-4">
                                    <h4 class="text-primary-600 font-semibold flex items-center gap-1">
                                        <span class="text-primary-700">1.1</span> Định nghĩa
                                    </h4>
                                    <p class="text-sm text-gray-600 pl-5">Đại từ nhân xưng, còn được gọi là đại từ xưng hô hoặc đại từ chỉ ngôi, là những từ được sử dụng để chỉ và thay thế cho một người hoặc vật khi ta không muốn đề cập trực tiếp hoặc lặp lại các danh từ đó.</p>
                                </div>
                                <div id="section-3.1.2" class="space-y-2 ml-4">
                                    <h4 class="text-primary-600 font-semibold flex items-center gap-1">
                                        <span class="text-primary-700">1.2</span> Các đại từ nhân xưng
                                    </h4>
                                    <div class="overflow-x-auto mt-6">
                                        <table class="table-auto w-full text-sm text-left text-gray-700">
                                            <thead class="bg-gray-100">
                                                <tr>
                                                    <th class="px-4 py-2 font-semibold" rowspan="2">Ngôi</th>
                                                    <th class="px-4 py-2 font-semibold" colspan="3">Số ít</th>
                                                    <th class="px-4 py-2 font-semibold" colspan="3">Số nhiều</th>
                                                </tr>
                                                <tr>
                                                    <th class="px-4 py-2 font-semibold">Chủ ngữ</th>
                                                    <th class="px-4 py-2 font-semibold">Tân ngữ</th>
                                                    <th class="px-4 py-2 font-semibold">Nghĩa</th>
                                                    <th class="px-4 py-2 font-semibold">Chủ ngữ</th>
                                                    <th class="px-4 py-2 font-semibold">Tân ngữ</th>
                                                    <th class="px-4 py-2 font-semibold">Nghĩa</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">Ngôi 1</td>
                                                    <td class="px-4 py-2">I</td>
                                                    <td class="px-4 py-2">me</td>
                                                    <td class="px-4 py-2">tôi</td>
                                                    <td class="px-4 py-2">We</td>
                                                    <td class="px-4 py-2">us</td>
                                                    <td class="px-4 py-2">chúng tôi</td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">Ngôi 2</td>
                                                    <td class="px-4 py-2">You</td>
                                                    <td class="px-4 py-2">you</td>
                                                    <td class="px-4 py-2">anh, chị</td>
                                                    <td class="px-4 py-2">You</td>
                                                    <td class="px-4 py-2">you</td>
                                                    <td class="px-4 py-2">các anh/ chị</td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">Ngôi 3</td>
                                                    <td class="px-4 py-2">He/ She/ It</td>
                                                    <td class="px-4 py-2">him/ her/ it</td>
                                                    <td class="px-4 py-2">anh ấy/ chị ấy/ nó</td>
                                                    <td class="px-4 py-2">They</td>
                                                    <td class="px-4 py-2">them</td>
                                                    <td class="px-4 py-2">họ/ chúng</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <p class="text-sm text-gray-600 pl-5"><strong>Lưu ý: </strong>Động từ/trợ động từ đi cùng đại từ được chia như thế nào có thể được xác định bằng cột số ít hay số nhiều. (ví dụ she is/ she was, they are…)</p>
                                    <ul class="list-disc pl-10 text-sm text-gray-600 space-y-1.5">
                                        <li><code>I, he, she, we, they,....</code> có thể đóng vai trò là chủ ngữ trong câu.</li>
                                        <ul class="pl-10 text-sm text-gray-600 space-y-1.5" style="list-style-type: circle;">
                                            <li><strong>Ví dụ:</strong> <span class="italic">Mary and John are going to the park. <strong>They</strong> will play tennis. (Mary và John đang đi đến công viên. Họ sẽ chơi quần vợt.)</span></li>
                                        </ul>
                                        <li><code>Me, him, her, us, them,....</code> có thể đóng vai trò là tân ngữ trực tiếp hoặc tân ngữ gián tiếp của động từ hoặc tân ngữ của giới từ trong câu.</li>
                                        <ul class="pl-10 text-sm text-gray-600 space-y-1.5" style="list-style-type: circle;">
                                            <li><strong>Ví dụ:</strong> <span class="italic">Sarah saw John at the mall. Sarah greeted <strong>him</strong>. (Sarah nhìn thấy Mary và John ở trung tâm mua sắm. Sarah chào anh và cô.) => Him là tân ngữ trực tiếp.</span></li>
                                            <li><strong>Ví dụ:</strong> <span class="italic">The teacher gave the students a challenging assignment. The teacher explained <strong>it</strong> to us. (Giáo viên giao cho học sinh một bài tập đầy thử thách. Thầy đã giải thích cho chúng tôi.) => It là tân ngữ gián tiếp.</span></li>
                                            <li><strong>Ví dụ:</strong> <span class="italic">Tom talked to <strong>them</strong> at the garden. (Tom nói chuyện với họ tại vườn). => Them là tân ngữ của giới từ “to”.</span></li>
                                        </ul>
                                    </ul>
                                </div>
                            </div>

                            <div id="section-3.2" class="space-y-2 ml-4">
                                <h3 class="text-primary-600 font-semibold flex items-center gap-1">
                                    <span class="text-primary-700">2.</span> Đại từ bất định (Indefinite pronouns)
                                </h3>
                                <div id="section-3.2.1" class="space-y-2 ml-4">
                                    <h4 class="text-primary-600 font-semibold flex items-center gap-1">
                                        <span class="text-primary-700">2.1</span> Định nghĩa
                                    </h4>
                                    <p class="text-sm text-gray-600 pl-5">Đại từ bất định (indefinite pronouns) được sử dụng trong tiếng Anh để thay thế các danh từ không xác định hoặc không rõ ràng trong câu.</p>
                                    <p class="text-sm text-gray-600 pl-5">Các đại từ bất định phổ biển như anyone, something, one, nobody,....</p>
                                </div>
                                <div id="section-3.2.2" class="space-y-2 ml-4">
                                    <h4 class="text-primary-600 font-semibold flex items-center gap-1">
                                        <span class="text-primary-700">2.2</span> Chức năng đại từ bất định
                                    </h4>
                                    <div class="overflow-x-auto mt-6">
                                        <table class="table-auto w-full text-sm text-left text-gray-700">
                                            <thead class="bg-gray-100">
                                                <tr>
                                                    <th class="px-4 py-2 font-semibold">Đối tượng</th>
                                                    <th class="px-4 py-2 font-semibold">Số ít</th>
                                                    <th class="px-4 py-2 font-semibold">Số nhiều</th>
                                                    <th class="px-4 py-2 font-semibold">Số ít hoặc số nhiều</th>
                                                    <th class="px-4 py-2 font-semibold">Ví dụ</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">Người hoặc vật</td>
                                                    <td class="px-4 py-2">
                                                        <p>another</p>
                                                        <p>one</p>
                                                        <p>each</p>
                                                        <p>either</p>
                                                        <p>less</p>
                                                        <p>little</p>
                                                        <p>much</p>
                                                        <p>other</p>
                                                        <p>neither</p>
                                                    </td>
                                                    <td class="px-4 py-2">
                                                        <p>both</p>
                                                        <p>few/fewer</p>
                                                        <p>many</p>
                                                        <p>several</p>
                                                        <p>others</p>
                                                    </td>
                                                    <td class="px-4 py-2">
                                                        <p>all</p>
                                                        <p>most</p>
                                                        <p>more</p>
                                                        <p>any</p>
                                                        <p>none</p>
                                                        <p>plenty</p>
                                                        <p>some</p>
                                                        <p>such</p>
                                                    </td>
                                                    <td class="px-4 py-2">
                                                        <ul class="list-disc pl-10 text-sm text-gray-600 space-y-1.5">
                                                            <li class="italic">I finished one book; now I'm starting another. (Tôi đã đọc xong một cuốn sách; bây giờ tôi đang bắt đầu một cái khác.)</li>
                                                            <li class="italic">Few students attended the optional lecture. (Rất ít sinh viên tham dự bài giảng tự chọn.)</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">Chỉ người</td>
                                                    <td class="px-4 py-2">
                                                        <p>nobody</p>
                                                        <p>no one</p>
                                                        <p>somebody</p>
                                                        <p>someone</p>
                                                        <p>whoever</p>
                                                        <p>anybody</p>
                                                        <p>anyone</p>
                                                        <p>everybody</p>
                                                        <p>everyone</p>
                                                    </td>
                                                    <td class="px-4 py-2"></td>
                                                    <td class="px-4 py-2"></td>
                                                    <td class="px-4 py-2">
                                                        <ul class="list-disc pl-10 text-sm text-gray-600 space-y-1.5">
                                                            <li class="italic">Somebody left their umbrella in the hallway. (Ai đó đã để quên chiếc ô của họ ở hành lang.)</li>
                                                            <li class="italic">Whoever left the keys in the car should come back and get them. (Ai để quên chìa khóa trên xe nên quay lại lấy.)</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">Chỉ sự vật</td>
                                                    <td class="px-4 py-2">
                                                        <p>anything</p>
                                                        <p>everything</p>
                                                        <p>something</p>
                                                        <p>nothing</p>
                                                        <p>less</p>
                                                        <p>little</p>
                                                        <p>enough</p>
                                                        <p>whatever</p>
                                                        <p>whichever</p>
                                                    </td>
                                                    <td class="px-4 py-2"></td>
                                                    <td class="px-4 py-2"></td>
                                                    <td class="px-4 py-2">
                                                        <ul class="list-disc pl-10 text-sm text-gray-600 space-y-1.5">
                                                            <li class="italic">There is little hope of finding a solution to the problem. (Có rất ít hy vọng tìm ra giải pháp cho vấn đề.)</li>
                                                            <li class="italic">You can eat whichever cake you prefer. (Bạn có thể ăn bất kỳ chiếc bánh nào bạn thích.)</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <p class="text-sm text-gray-600 pl-5"><strong>Lưu ý: </strong></p>
                                    <ul class="list-disc pl-10 text-sm text-gray-600 space-y-1.5">
                                        <li>Trong trường hợp một câu có cả tính từ sở hữu và đại từ bất định, đại từ bất định và đại từ bất định phải giống nhau về số nhiều hoặc ít.</li>
                                        <ul class="pl-10 text-sm text-gray-600 space-y-1.5" style="list-style-type: circle;">
                                            <li><strong>Ví dụ:</strong> <span class="italic">Nobody likes to lose his or her keys. (Không ai thích để mất chìa khóa của mình.)</span></li>
                                        </ul>
                                        <li>Đại từ bất định trong một câu vẫn phải tương đương với tính từ sở hữu nếu sau đại từ bất định là một cụm "of + danh từ".</li>
                                        <li>Đại từ bất định số ít đi với động từ số ít và ngược lại.</li>
                                    </ul>
                                </div>
                            </div>
                            <div id="section-3.3" class="space-y-2 ml-4">
                                <h3 class="text-primary-600 font-semibold flex items-center gap-1">
                                    <span class="text-primary-700">3.</span> Đại từ sở hữu (Possessive pronouns)
                                </h3>
                                <div id="section-3.3.1" class="space-y-2 ml-4">
                                    <h4 class="text-primary-600 font-semibold flex items-center gap-1">
                                        <span class="text-primary-700">3.1</span> Định nghĩa
                                    </h4>
                                    <p class="text-sm text-gray-600 pl-5">Đại từ sở hữu (possessive pronouns) là những đại từ có liên quan hoặc sở hữu một danh từ hoặc cụm danh từ.</p>
                                </div>
                                <div id="section-3.3.2" class="space-y-2 ml-4">
                                    <h4 class="text-primary-600 font-semibold flex items-center gap-1">
                                        <span class="text-primary-700">3.2</span> Chức năng đại từ sở hữu
                                    </h4>
                                    <p class="text-sm text-gray-600 pl-5">Đại từ sở hữu có thể được sử dụng như tân ngữ hoặc chủ ngữ trong một câu. Đại từ sở hữu đứng sau giới từ cũng được gọi là sở hữu kép.</p>
                                    <div class="overflow-x-auto mt-6">
                                        <table class="table-auto w-full text-sm text-left text-gray-700">
                                            <thead class="bg-gray-100">
                                                <tr>
                                                    <th class="px-4 py-2 font-semibold">Đại từ nhân xưng</th>
                                                    <th class="px-4 py-2 font-semibold">Đại từ sở hữu</th>
                                                    <th class="px-4 py-2 font-semibold">Tính từ sở hữu</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">I</td>
                                                    <td class="px-4 py-2">mine</td>
                                                    <td class="px-4 py-2">my</td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">you</td>
                                                    <td class="px-4 py-2">yours</td>
                                                    <td class="px-4 py-2">your</td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">he</td>
                                                    <td class="px-4 py-2">his</td>
                                                    <td class="px-4 py-2">his</td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">she</td>
                                                    <td class="px-4 py-2">hers</td>
                                                    <td class="px-4 py-2">her</td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">it</td>
                                                    <td class="px-4 py-2">its</td>
                                                    <td class="px-4 py-2">its</td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">we</td>
                                                    <td class="px-4 py-2">ours</td>
                                                    <td class="px-4 py-2">our</td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">they</td>
                                                    <td class="px-4 py-2">theirs</td>
                                                    <td class="px-4 py-2">their</td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">Minh</td>
                                                    <td class="px-4 py-2">Minh's</td>
                                                    <td class="px-4 py-2">Minh's</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <p class="text-sm text-gray-600 pl-5"><strong>Ví dụ:</strong> <span class="italic">Those shoes are not my size; I thought they were yours. (Đôi giày đó không phải cỡ của tôi; Tôi tưởng chúng là của bạn.)</span></p>
                                    <p class="text-sm text-gray-600 pl-5"><strong>Lưu ý: </strong></p>
                                    <ul class="list-disc pl-10 text-sm text-gray-600 space-y-1.5">
                                        <li>Trường hợp trên không có nghĩa là đại từ sở hữu sẽ trở thành sở hữu cách bằng cách thêm "s" vào các tính từ sở hữu.</li>
                                        <ul class="pl-10 text-sm text-gray-600 space-y-1.5" style="list-style-type: circle;">
                                            <li><strong>Ví dụ:</strong> <span class="italic">mine <strong style="color: red;">NOT</strong> my's</span></li>
                                        </ul>
                                        <li>Không sử dụng các đại từ sở hữu trước danh từ</li>
                                        <ul class="pl-10 text-sm text-gray-600 space-y-1.5" style="list-style-type: circle;">
                                            <li><strong>Ví dụ:</strong> <span class="italic"><strong style="color: red;">NOT</strong> mine book,…</span></li>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                            <div id="section-3.4" class="space-y-2 ml-4">
                                <h3 class="text-primary-600 font-semibold flex items-center gap-1">
                                    <span class="text-primary-700">4.</span> Đại từ phản thân (Reflexive pronouns)
                                </h3>
                                <div id="section-3.3.1" class="space-y-2 ml-4">
                                    <h4 class="text-primary-600 font-semibold flex items-center gap-1">
                                        <span class="text-primary-700">4.1</span> Định nghĩa
                                    </h4>
                                    <ul class="list-disc pl-10 text-sm text-gray-600 space-y-1.5">
                                        <li>Đại từ phản thân (reflexive pronouns) trong tiếng Anh là các đại từ được sử dụng để chỉ người hoặc vật trong câu làm hành động và đồng thời là đối tượng của hành động đó.</li>
                                        <li>Đuôi "self" cho số ít và "selves" cho số nhiều trong đại từ phản thân.</li>
                                        <li>Đại từ phản thân không bao giờ là chủ ngữ của câu. Nó chỉ được sử dụng làm tân ngữ cho thấy chủ thể cung cấp và nhận.</li>
                                    </ul>
                                    <p class="text-sm text-gray-600 pl-5 font-semibold">Các đại từ phản thân thường gặp:</p>
                                    <div class="overflow-x-auto mt-6">
                                        <table class="table-auto w-full text-sm text-left text-gray-700">
                                            <thead class="bg-gray-100">
                                                <tr>
                                                    <th class="px-4 py-2 font-semibold"></th>
                                                    <th class="px-4 py-2 font-semibold">Đại từ nhân xưng</th>
                                                    <th class="px-4 py-2 font-semibold">Đại từ phản thân</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2 font-semibold bg-gray-100" rowspan="6">Số ít</td>
                                                    <td class="px-4 py-2">I</td>
                                                    <td class="px-4 py-2">Myself</td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">You</td>
                                                    <td class="px-4 py-2">Yourself</td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">He</td>
                                                    <td class="px-4 py-2">Himself</td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">She</td>
                                                    <td class="px-4 py-2">Herself</td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">It</td>
                                                    <td class="px-4 py-2">Itself</td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">One</td>
                                                    <td class="px-4 py-2">Oneself (chỉ các đối tượng chung chung, không xác định)</td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2 font-semibold bg-gray-100" rowspan="3">Số nhiều</td>
                                                    <td class="px-4 py-2">You</td>
                                                    <td class="px-4 py-2">Yourselves</td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">We</td>
                                                    <td class="px-4 py-2">Ourselves</td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">They</td>
                                                    <td class="px-4 py-2">Themselves</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="section-3.3.2" class="space-y-2 ml-4">
                                    <h4 class="text-primary-600 font-semibold flex items-center gap-1">
                                        <span class="text-primary-700">4.2</span> Cách dùng đại từ phản thân
                                    </h4>
                                    <div class="overflow-x-auto mt-6">
                                        <table class="table-auto w-full text-sm text-left text-gray-700">
                                            <thead class="bg-gray-100">
                                                <tr>
                                                    <th class="px-4 py-2 font-semibold">Cách dùng</th>
                                                    <th class="px-4 py-2 font-semibold">Ví dụ</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">
                                                        <ul class="list-disc pl-10 text-sm text-gray-600 space-y-1.5">
                                                            <li>Làm tân ngữ của động từ trong trường hợp chủ ngữ và tân ngữ đồng nhất.</li>
                                                            <li>Nó có thể đứng ngay sau động từ hoặc sau động từ + giới từ.</li>
                                                        </ul>
                                                    </td>
                                                    <td class="px-4 py-2">
                                                        <ul class="list-disc pl-10 text-sm text-gray-600 space-y-1.5">
                                                            <li>John hurt himself while playing football. (John làm tổn thương chính bản thân mình khi đang chơi bóng đá.)</li>
                                                            <li>She enjoyed the movie by herself. (Cô ấy thích bộ phim một mình.)</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">Nó có thể được sử dụng để nhấn mạnh danh từ hoặc đại từ. Chúng được đặt ngay sau các danh từ nhấn mạnh trong câu.</td>
                                                    <td class="px-4 py-2">I myself am responsible for the mistake. (Chính tôi là người chịu trách nhiệm về lỗi.)</td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">Các tân ngữ sau giới từ được gọi là đại từ phản thân.</td>
                                                    <td class="px-4 py-2">She bought a gift for herself. (Cô ấy đã mua một món quà cho chính bản thân mình.) </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="section-3.5" class="space-y-2 ml-4">
                                <h3 class="text-primary-600 font-semibold flex items-center gap-1">
                                    <span class="text-primary-700">5.</span> Đại từ quan hệ (Relative pronouns)
                                </h3>
                                <div id="section-3.5.1" class="space-y-2 ml-4">
                                    <h4 class="text-primary-600 font-semibold flex items-center gap-1">
                                        <span class="text-primary-700">5.1</span> Định nghĩa
                                    </h4>
                                    <p class="text-sm text-gray-600 pl-5">Mệnh đề quan hệ (relative clause) và mệnh đề độc lập (independent clause) trong một câu được nối với nhau bằng đại từ quan hệ (relative pronouns). Mệnh đề giúp mở rộng sự hiểu biết của người đọc hoặc người nghe về sự liên quan giữa các danh từ hoặc mệnh đề trong câu.</p>
                                </div>
                                <div id="section-3.5.2" class="space-y-2 ml-4">
                                    <h4 class="text-primary-600 font-semibold flex items-center gap-1">
                                        <span class="text-primary-700">5.2</span> Chức năng đại từ quan hệ
                                    </h4>
                                    <p class="text-sm text-gray-600 pl-5">Đại từ quan hệ kết nối các mệnh đề với nhau và hoạt động như một danh từ thay thế. Dù được sử dụng thay thế cho một danh từ số ít hay số nhiều, đại từ quan hệ vẫn có hình thức không thay đổi.</p>
                                    <p class="text-sm text-gray-600 pl-5 font-semibold">Các đại từ quan hệ</p>
                                    <div class="overflow-x-auto mt-6">
                                        <table class="table-auto w-full text-sm text-left text-gray-700">
                                            <thead class="bg-gray-100">
                                                <tr>
                                                    <th class="px-4 py-2 font-semibold">Đại từ quan hệ</th>
                                                    <th class="px-4 py-2 font-semibold">Chức năng đại từ trong câu</th>
                                                    <th class="px-4 py-2 font-semibold">Ví dụ</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">Who</td>
                                                    <td class="px-4 py-2">Chỉ người: S, O</td>
                                                    <td class="px-4 py-2">The girl who won the competition is my friend. (Cô gái đã chiến thắng trong cuộc thi là bạn của tôi.)</td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">Whom</td>
                                                    <td class="px-4 py-2">Chỉ người: O</td>
                                                    <td class="px-4 py-2">She is the friend with whom I went to the concert. (Cô ấy là người bạn mà tôi đi xem buổi hòa nhạc.)</td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">Which</td>
                                                    <td class="px-4 py-2">Chỉ người và vật: S, O</td>
                                                    <td class="px-4 py-2">This is the house which Jack built. (Đây là ngôi nhà mà Jack xây dựng.)</td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">Whose</td>
                                                    <td class="px-4 py-2">Chỉ tính sở hữu: N whose N</td>
                                                    <td class="px-4 py-2">The man whose car broke down called for help. (Người đàn ông mà xe hỏng gọi điện thoại xin giúp đỡ.)</td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">That</td>
                                                    <td class="px-4 py-2">Chỉ người và vật: S and O</td>
                                                    <td class="px-4 py-2">The movie that we watched last night was amazing. (Bộ phim mà chúng ta xem tối qua rất tuyệt.)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <p class="text-sm text-gray-600 pl-5"><strong>Lưu ý: </strong></p>
                                    <ul class="list-disc pl-10 text-sm text-gray-600 space-y-1.5">
                                        <li>Các từ quan hệ khác như "nơi chốn" (where), "thời gian" (when), và "lý do" (why) cũng được sử dụng trong mệnh đề quan hệ xác định, thay thế cho giới từ + "which" (tại đó, vào đó, cho đó).</li>
                                        <li>Trong mệnh đề quan hệ không xác định, that không thể được sử dụng để thay thế cho who, whom hoặc which.</li>
                                        <li>What không được sử dụng làm đại từ quan hệ</li>
                                        <li>Who không được sử dụng cho vật.</li>
                                    </ul>
                                    <p class="text-sm text-gray-600 pl-5"><strong>Lược bỏ đại từ quan hệ: </strong></p>
                                    <ul class="list-disc pl-10 text-sm text-gray-600 space-y-1.5">
                                        <li>Để lược bỏ đại từ quan hệ thì các đại từ ấy chỉ đóng vai trò là tân ngữ trong câu. Các đại từ quan hệ có vai trò là chủ ngữ không được loại bỏ.</li>
                                        <ul class="pl-10 text-sm text-gray-600 space-y-1.5" style="list-style-type: circle;">
                                            <li><strong>Ví dụ:</strong> <span class="italic">Yesterday, I bought a book (that) I had been wanting to read for months. (Hôm qua, tôi đã mua một cuốn sách mà tôi đã muốn đọc trong vài tháng qua.)</li>
                                        </ul>
                                        <li>Khi lược bỏ đại từ quan hệ, hãy để giới từ ở cuối câu nếu đại từ quan hệ đứng sau giới từ hoặc bổ nghĩa cho giới từ.</li>
                                        <ul class="pl-10 text-sm text-gray-600 space-y-1.5" style="list-style-type: circle;">
                                            <li><strong>Ví dụ:</strong> <span class="italic">The city to which I am moving next month is known for its vibrant cultural scene. (Thành phố mà tôi sẽ chuyển đến vào tháng sau nổi tiếng với bối cảnh văn hóa sôi động của nó.)</li>
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                            <div id="section-3.6" class="space-y-2 ml-4">
                                <h3 class="text-primary-600 font-semibold flex items-center gap-1">
                                    <span class="text-primary-700">6.</span> Đại từ chỉ định (Demonstrative pronouns)
                                </h3>
                                <div id="section-3.6.1" class="space-y-2 ml-4">
                                    <h4 class="text-primary-600 font-semibold flex items-center gap-1">
                                        <span class="text-primary-700">6.1</span> Định nghĩa
                                    </h4>
                                    <ul class="list-disc pl-10 text-sm text-gray-600 space-y-1.5">
                                        <li>Trong tiếng Anh, đại từ chỉ định (demonstrative pronouns) là các đại từ được sử dụng để chỉ một danh từ trong một câu nói nhưng không có tên gọi cụ thể. Chúng giúp người nghe hoặc đọc hiểu danh từ trong câu.</li>
                                        <li>Đại từ chỉ định có thể làm chủ ngữ hoặc tân ngữ trong câu.</li>
                                        <li>Tính từ chỉ định không có danh từ theo sau được gọi là đại từ chỉ định chính.</li>
                                    </ul>
                                    <p class="text-sm text-gray-600 pl-5">Các đại từ chỉ định phổ biến: </p>
                                    <div class="overflow-x-auto mt-6">
                                        <table class="table-auto w-full text-sm text-left text-gray-700">
                                            <thead class="bg-gray-100">
                                                <tr>
                                                    <th class="px-4 py-2 font-semibold">Tính từ chỉ định</th>
                                                    <th class="px-4 py-2 font-semibold">Đại từ chỉ định</th>
                                                    <th class="px-4 py-2 font-semibold">Đại từ chỉ định số nhiều</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">this</td>
                                                    <td class="px-4 py-2">this</td>
                                                    <td class="px-4 py-2">these</td>
                                                </tr>
                                                <tr class="hover:bg-gray-50">
                                                    <td class="px-4 py-2">that</td>
                                                    <td class="px-4 py-2">that</td>
                                                    <td class="px-4 py-2">those</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="section-3.6.2" class="space-y-2 ml-4">
                                    <h4 class="text-primary-600 font-semibold flex items-center gap-1">
                                        <span class="text-primary-700">6.2</span> Cách dùng đại từ chỉ định
                                    </h4>
                                    <p class="text-sm text-gray-600 pl-5 font-semibold">Chỉ khoảng cách về thời gian, không gian hoặc khái niệm</p>
                                    <ul class="list-disc pl-10 text-sm text-gray-600 space-y-1.5">
                                        <li><strong>This:</strong> Người này, cái này.</li>
                                        <li><strong>These:</strong> Những người này, những cái này.</li>
                                        <li><strong>That:</strong> Người kia, cái kia.</li>
                                        <li><strong>Those:</strong> Những người kia, những cái kia.</li>
                                    </ul>
                                    <p class="text-sm text-gray-600 pl-5"><strong>Ví dụ: </strong>These are the flowers that he gave me. (Những bông hoa này là những bông hoa mà anh ta đã tặng tôi.)</p>

                                    <p class="text-sm text-gray-600 pl-5 font-semibold">This/these mô tả những gì sắp được nói. That/those diễn đạt những gì đã được nói.</p>
                                    <p class="text-sm text-gray-600 pl-5"><strong>Ví dụ: </strong>I visited many countries during the summer vacation. That was an amazing experience. (Tôi đã thăm nhiều quốc gia trong kỳ nghỉ mùa hè. Đó là một trải nghiệm tuyệt vời.)</p>

                                    <p class="text-sm text-gray-600 pl-5 font-semibold">This, that, these, those có thể dùng với danh từ thời gian </p>
                                    <p class="text-sm text-gray-600 pl-5"><strong>Ví dụ: </strong>I can't believe this year is almost over. (Tôi không thể tin nổi năm nay sắp kết thúc.)</p>
                                </div>
                            </div>
                            <div id="section-3.7" class="space-y-2 ml-4">
                                <h3 class="text-primary-600 font-semibold flex items-center gap-1">
                                    <span class="text-primary-700">7.</span> Đại từ nghi vấn (Interrogative pronouns)
                                </h3>
                                <ul class="list-disc pl-10 text-sm text-gray-600 space-y-1.5">
                                    <li>Đại từ nghi vấn trong tiếng Anh  (interrogative pronouns) là những từ được sử dụng để hỏi về danh từ hoặc thông tin trong một câu. Đại từ này giúp người nói tìm kiếm thông tin mà họ muốn biết. Thường thì chúng đứng ở đầu câu.</li>
                                    <li>Vị trí của đại từ này thường đứng đầu câu.</li>
                                </ul>
                                <div class="overflow-x-auto mt-6">
                                    <table class="table-auto w-full text-sm text-left text-gray-700">
                                        <thead class="bg-gray-100">
                                            <tr>
                                                <th class="px-4 py-2 font-semibold">Đại từ nghi vấn</th>
                                                <th class="px-4 py-2 font-semibold">Chức năng đại từ trong câu</th>
                                                <th class="px-4 py-2 font-semibold">Ví dụ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="hover:bg-gray-50">
                                                <td class="px-4 py-2">who</td>
                                                <td class="px-4 py-2">S, O</td>
                                                <td class="px-4 py-2">Who is the person standing over there? (Ai là người đang đứng kia?)</td>
                                            </tr>
                                            <tr class="hover:bg-gray-50">
                                                <td class="px-4 py-2">whose</td>
                                                <td class="px-4 py-2">S, O</td>
                                                <td class="px-4 py-2">Whose book did you borrow? (Bạn đã mượn cuốn sách của ai?)</td>
                                            </tr>
                                            <tr class="hover:bg-gray-50">
                                                <td class="px-4 py-2">what</td>
                                                <td class="px-4 py-2">S, O</td>
                                                <td class="px-4 py-2">What is your favorite color? (Màu gì là màu yêu thích của bạn?)</td>
                                            </tr>
                                            <tr class="hover:bg-gray-50">
                                                <td class="px-4 py-2">which</td>
                                                <td class="px-4 py-2">S, O</td>
                                                <td class="px-4 py-2">Which book do you want to read for our book club next month? (Cuốn nào bạn muốn đọc cho câu lạc bộ sách của chúng ta vào tháng sau?)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <footer class="max-w-3xl mx-auto">
                        <h2 class="font-semibold mb-2 text-center">Nguồn</h2>
                        <p class="text-center"><a href="https://study4.com/posts/840/dai-tu-pronouns-la-gi-cach-dung-dai-tu-trong-tieng-anh/" class="text-primary-600 hover:underline" target="_blank">Study4 - Pronouns</a></p>
                    </footer>
                </div>


            </div>
        </div>
    </div>
</body>

</html>